body {
  font-family: 'Poppins', sans-serif;
}

/* Grid CSS */
#heroGrid{
  margin: 0px 5%;
  display: grid;
  min-height: 500px;
  height: 70vh;
  grid-template-rows: 75% 25%;
  grid-template-columns: 75% 25%;
  grid-template-areas: 
  "featuredProduct secondaryProduct"
  "featuredProduct CTA" ;
  justify-content: 0px 5%;
  cursor: pointer;
}

/* Category Grid CSS */

#featuredProduct{
  grid-area: featuredProduct;
}
#secondaryProduct{
 grid-area: secondaryProduct;
}
#CTA{
 grid-area: CTA;
}

.heroGridArea{
  background-position: center;
  background-repeat: no-repeat;
  background-size: center;
  align-items: center;
  display: flex;
  position: relative;
}

#featuredProduct, .heroGridArea{
  background-image: url(../images/couch.png);
}
#secondaryProduct, .heroGridArea{
  background-image: url(../images/beds.png);;
 }

#CTA, .heroGridArea{
  background-image: url(../images/woodbg.png);;
 }

#headline{
  border: 5px solid #ff6200;
  background-color: rgba(255,255,255,0.8);
  position: absolute top right;
  z-index: 1;
  padding: 20px;
}

/* Navigation CSS */
/* CHECK OUT THIS CODE BELOW IF YOU WANT TO GET A REFRESHER ON FLEX */
#navBar {
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
}
#navBar h1 {
  width: 25%;
  font-weight: 500;
}
#navigation {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
}
#navigation p {
  cursor: pointer;
  text-decoration: none;
}
.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
}
.icons img {
  margin: 15px;
  cursor: pointer;
}
.highlight {
  color: #FF6200;
  font-weight: 700;
}

/* Typography CSS */

h2 {
  font-size: 60px;
  margin: 0px 0px;
  color: #FF6200;
}

h3 {
  font-size: 32px;
  font-weight: 300;
  margin: 0px 0px;
}

h4 {
  color: white;
  font-weight: 400;
  font-size: 22px;
}


#headline p {
  max-width: 350px;
  font-size: 16px;
  font-weight: 300;
  margin: 0px 0px;
  color: #636364;
}
